<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
        <suite name="PetSuite">
    <!-- PetSuite -->
    <listeners>
    <listener class-name="api.utilities.ExtentReportManager"/>
</listeners>
    <test name="PetTests" thread-count="5">

    <classes>

    <class name="api.test.UserTests"/>

    <!-- <class name="api.test.DDTests"/> -->
</classes>

</test>

    <!-- PetTests -->


</suite>